.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box .entry {
  width: 80%;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99;
}
.box .entry input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 0 50px 0 10px;
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
}
.box .entry .opt {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}
.box .entry .opt span {
  padding: 5px 10px;
  background: #ff6600;
  color: #fff;
  border-radius: 10px;
}
.box .entry .opt span:nth-of-type(1),
.box .entry .opt span:nth-of-type(2) {
  margin-right: 10px;
}
.box .listBox {
  width: 80%;
}
.box .listBox .item:hover {
  background-color: #eee;
}
.box .listBox .item:hover button {
  display: inline-block;
}
.box .listBox .item {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 10px;
  min-height: 57px;
  max-height: 90px;
}
.box .listBox .item .text {
  margin-left: 5px;
  word-break: break-all;
  overflow-y: auto;
  flex: 1;
  max-height: 70px;
}
.box .listBox .item .opt {
  width: 12%;
  display: flex;
  justify-content: flex-end;
}
.box .listBox .item button {
  display: none;
}
