.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box div {
  margin-bottom: 20px;
}
.back {
  position: fixed;
  top: 30px;
  left: 30px;
}
