.box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.box .stateBox {
  position: fixed;
  top: 30px;
  left: 10%;
}
.box .wallpaper {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: filter 0.3s;
}
.box .wallpaper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.1);
  background: inherit;
  z-index: 2;
}
.box .headBox {
  height: 56px;
  width: 100%;
}
@media (max-width: 768px) {
  .box .frame {
    width: 50%;
  }
  .box .frame .clearIcon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    z-index: 2;
  }
  .box .frame:focus-within {
    width: 80%;
    opacity: 0.7;
  }
  .box .logo {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .box .logo button img {
    height: 130px;
    width: 130px;
  }
}
@media (min-width: 768px) {
  .box .frame {
    width: 280px;
    flex-shrink: 0;
  }
  .box .frame:hover {
    width: 561px;
  }
  .box .frame:focus-within {
    width: 561px;
    opacity: 0.7;
  }
  .box .logo {
    width: 200px;
    height: 272px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .box .logo button img {
    height: 130px;
    width: 130px;
  }
}
.box button {
  background: transparent;
  border: 0;
}
.box .frame {
  height: 44px;
  transition: all 0.5s;
  box-sizing: border-box;
  position: relative;
  z-index: 9;
  opacity: 0.5;
}
.box .frame .searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  z-index: 2;
}
.box .frame input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  border-radius: 22px;
  border: 0;
  outline: none;
  padding: 0 50px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  z-index: 2;
}
.box .frame input:focus ~ .menu {
  height: 600px;
}
.box .frame .menu {
  width: 100%;
  height: 0;
  overflow: hidden;
  transform: translateY(-20px);
  transition: height 0.5s;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
.box:focus-within > .wallpaper {
  filter: blur(8px);
}
.directive input {
  font-weight: bold;
  color: red;
}
