.box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  .frame {
    display: flex;
    // align-items: center;
    img {
      height: 1rem;
      width: 1rem;
      margin-left: -3rem;
    }
    input {
      outline: none;
      border-radius: 10rem;
      height: fit-content;
      //   font-size: 1.5rem;
    }
  }
}
