.box {
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  align-items: center;
  margin: 10px 0px 10px 10px;
}
.title h1 {
  margin-left: 10px;
  color: #666;
}
.inputBox {
  box-sizing: border-box;
  padding: 20px 0px 0px 0px;
}
