.box {
  box-sizing: border-box;
  padding: 20px;
}
.box .gap {
  margin-top: 30px;
}
.box .gap h3 {
  margin-bottom: 20px;
}
.title {
  display: flex;
  align-items: center;
  margin: 10px 0px 10px 10px;
}
.title h1 {
  margin-left: 10px;
  color: #666;
}
.inputBox {
  box-sizing: border-box;
  padding: 20px 0px 0px 0px;
}
