* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}
html,
body,
#root {
  height: 100%;
}
body {
  min-width: 300px;
}

body {
  cursor: url(select.cur), default;
}

a,
button {
  cursor: url(target.cur), default !important;
}

input {
  cursor: url(text.cur), default;
}
