.box {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 200px;
  padding-top: 150px;
}
.box .more {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 20px;
}
.box .more img {
  width: 100%;
  height: 100%;
}
.box button {
  margin-top: 50px;
}
.box .aphorism {
  margin-top: 30vh;
}
.box .aphorism p {
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 23px;
}
.box .aphorism p:last-child {
  text-align: right;
}
.hisModalBox {
  height: 100%;
  overflow: scroll;
}
